.header {
    padding: 8px 0;
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 56px;
}
.header__nav-links{
    display: flex;
    align-items: center;
    gap: 44px;
}
.header__nav-links a{
    font-size: 14px;
    font-weight: 600px;
    color: black;
}


.header__nav-button {
    padding: 12px 30px;
    background-color: #65256F;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.main-banner{
    /* background-color: black   ; */
        background-image: url('./imagas/main-banner.png');
    aspect-ratio: 1440/768 ;
    padding: 190px 0;
}
.main-banner__wrapper{
    display: grid;
    grid-template-columns: 50% 1fr;
    
}  


.main-banner__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    
}


.main-banner__content h1 {
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.main-banner__content h3 {
    color: white;
    font-size: 36px;
    font-weight: 400;
}

.main-banner__content button {
    background-color: #FFC957;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 80px;
    border: none;
}


.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-banner__social-items{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
